/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/*Normalize*/

* {
    margin: 0; /*Predetermino los valorse de margin y padding a 0*/
    padding: 0;
    box-sizing: border-box; /*Especifico la propiedad border-box ya que quiero que los rellenos se tomen en cuenta a la hora de trabajar con un elemento*/
    text-decoration: none; /*Elimina todas la decoracion extra que tenga un texto(lineas)*/
    list-style: none; /*Quita la decoracion por defecto que tienen las listas.*/
    font-family: 'Marck Script';
    scroll-behavior: smooth;
    color: hsl(0,0%,95%);
}

/*Global*/
body {
    /*Establezco un width y heiht para poder trabajar la distribucion de espacio de los elementos hijos. */
    width: 100%; 
    height: 100vh;
    background-color: #0A0908;
}

.container {
    max-width: 68rem;
    margin: 0 auto;
}

h1,h2 {
    font-size: 3em;
    text-align: center;
}

h2 {
    margin: 4rem 0;
}

#galeria div, footer, #beggining {
    padding: 0 20px;
}

/*Header*/

 .container-hero { 
    height: 100vh; /*Le indico a la imagen que quiero que ocupe el 100% de la ventana grafica*/
    background-image: url(../media/beginning/background-image.svg); 
    background-repeat: no-repeat; /*Me permite eliminar el efecto mosaico*/
    background-position: center center; /*posiciono la imagen en el centro del viewport*/
    background-size: cover; /*Indico a la imagen que se recorte lo necesario para cubrir el contenedor sin perder su relacin de aspecto.*/
} 

nav {
    display: flex; /*convierte el contenedor en un flex container para poder centrar el contenedor.*/
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}


nav ul li{
    font-size: clamp(20px, 4vw, 32px);
    padding: 0 .5rem;
}

/*Main*/

/*Inicio*/

#beggining {
    text-align: center;
}

#beggining p {
    font-size: 2em;
}

/*Producto*/

#galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #galeria::after  {
    content: "";
    display: block;
    position: relative;
    background-color: rgb(245, 245, 245);
    height: 1px;
    width: 600px;
    margin: 60px auto 0 auto;
}

.sobre-nosotros::after {
    content: "";
    display: block;
    position: relative;
    background-color: rgb(245, 245, 245);
    height: 1px;
    width: 600px;
    margin: 60px auto 0 auto;
} */

#galeria div {
    display: grid;
    grid-template-areas:    'imagen1 imagen2 imagen3'
                            'imagen4 imagen4 imagen5'
                            'imagen6 imagen7 imagen7';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    align-content: center;
    grid-gap: 30px 40px ;
}

.imagen1 {
   grid-area: imagen1; 
}
.imagen2 {
   grid-area: imagen2; 
}
.imagen3 {
   grid-area: imagen3; 
}
.imagen4 {
   grid-area: imagen4; 
}
.imagen5 {
   grid-area: imagen5; 
}
.imagen6 {
    grid-area: imagen6;
}
.imagen7 {
    grid-area: imagen7;
}

#galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4%;
}


/*sobre-nosotros*/

.sobre-nosotros div {
    text-align: center;
}

.sobre-nosotros p {
    padding: 0 20px 20px;
    font-size: 1.6em;
}

.sobre-nosotros span {
    font-size: 1.5em;
    font-weight: bold;
}

/*footer*/

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

   place-items: center;
}



footer h4 {
    font-size: 2em;
    margin: 1rem 0;
}

form label {
    font-size: 1.2em;
}

form input, textarea, button {
    width: 100%;
}

form input,textarea {
    display: flex;
    margin: 4px 0;
    padding: .6em .6em;
    font-size: 18px;
    border: none;
    border-radius: 1vh;
}

form input, button {
    font-weight: bolder;
    color: #0A0908;
    background-color: rgb(245, 245, 245);
}

button {
    border-radius: 100vh ;
}

form textarea {
    font-weight: bolder;
}

button {
    font-size: 24px;
    border: none;
    padding: 8px 36px;
    margin: 12px 0;
}

.footer-location img {
   max-width: 30rem;
   width: 100%;
}

footer .end-point {
    display: block;
    padding: .8em 0;
    font-size: 1.4em;
    text-align: center;
}


.end-point::after {
    content: "";
    display: inline-block;
    position: relative;
    height: 1px;
    width: 16px;
    background-color: rgb(245, 245, 245);
    top: -3px;
    left: 6px;
    
}
.end-point::before {
    content: "";
    display: inline-block;
    position: relative;
    height: 1px;
    width: 16px;
    background-color: rgb(245, 245, 245);
    top: -3px;
    left: -6px;
    
}

/*media-query*/

@media (max-width: 765px) {
    .footer-content {
        grid-template-columns: 1fr;
    }
   
}













